* {
    /*border: red 1px solid;  /*debug code - to be removed on prod*/
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Playwrite+AU+SA:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #DCDCDC;
}

/*utility classes*/

.grid{
    display: grid;
}

.flexRow,.flexColumn {
    display: flex;
}

.flexRow {
    flex-direction: row;
}

.flexColumn {
    flex-direction: column;
}

.flexCentral {
    justify-content: center;
    align-items: center;
}

.container {
    grid-template: repeat(12,1fr)/repeat(12,1fr);
    height: 100dvh;
}

/*Left navigation menu style*/

#leftMenu {
    grid-column: 1 / 3;
    grid-row: 1 / 13;
    align-items: center;
    background-color: #443742;
    justify-content: space-between;
}

/*navigation list styles*/

#leftMenu ul {
    justify-content: space-around;
    height: clamp(20dvh, 40dvh, 60dvh);
    align-content: center;
}

#leftMenu li {
    list-style: none;
    margin: 4%;
    text-align: center;
}

#leftMenu a {
    text-decoration: none;
    color: #CEA07E;
    width: 100%;
    font-size: clamp(1rem, 5vh, 10rem);
}

/*logo and app name*/

#logoContainer {
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

#logoContainer>h1{
    color: #CEA07E;
    font-size: clamp(0.5rem,5vh,2rem);
}

#logo {
    max-width: 100%;
    height: clamp(3dvh,5dvh,15dvh);
}

/*nav menu specific buttons*/

#navigationButtons {
    justify-content: space-around;
    gap: 2vh;
    height: 5dvh;
    margin: 2%;
}

#navigationButtons>button {
    font-size: clamp(1rem,1vh,1.5rem);
    border-radius: 1rem;
}

/*Workspace area*/

.workspaceLabels {
    grid-column: 3/11;
    list-style: none;
    margin: 0;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.2rem;
}

.workspaceLabels li {
    font-size: clamp(0.5em,1.2rem,2em);
    padding: 2%;
    border-radius: 1.5rem 1.5rem 0 0;
    border: #443742 1px solid;
    border-bottom: none;
    box-shadow: inset 7px 7px 16px -6px rgba(0,0,0,0.1),inset 7px 9px 25px -12px rgba(0,0,0,0.1);
    background-color: #443742;
    color: #CEA07E;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.workspaceLabels li:hover {
    background-color: #CEA07E;
    color: #443742;
}

.activeWorkspace {
    grid-column: 3/11;
    grid-row: 2/13;
    width: 100%;
    height: 100%;
    grid-template: repeat(12,1fr)/repeat(12,1fr);
    border-radius: 0 2rem 2rem 0;
    border-right: 1vh solid #443742;
    border-top: 1px solid #443742;
    box-shadow: 11px 0px 15px -3px rgba(0,0,0,0.1),11px 0px 45px -24px rgba(0,0,0,0.1),11px -3px 19px -40px rgba(0,0,0,0.1);
    padding: 2%;
    background-color: #F0F0F0;
}

/*workspace buttons management*/

#addNoteBtn{
    grid-column: 10/13;
    grid-row: 12/13;
    padding: 2vh;
    margin: 2vh;
    font-size: clamp(1rem,1vh,1.5rem);
    border-radius: 2rem 0.5rem 2rem 0.5rem;
}

/*inner workspace elements*/
/*noteCards*/

.noteSquare {
    grid-template: repeat(6,1fr)/repeat(6,1fr);
    width: 30dvh;
    height: 40dvh;
    padding: 5%;
    box-shadow: 6px 7px 41px -3px rgba(0,0,0,0.1),3px 3px 17px -12px rgba(0,0,0,0.1),inset 6px 6px 22px -9px rgba(0,0,0,0.1);
    border-radius: 2rem;
    border: #CEA07E 1px solid;
    border-left: #CEA07E 0.5rem solid;
}

/*notecards inner styling*/

.cardTitle {
    grid-column: 1/7;
    grid-row: 1/2;
}

.cardTitle small {
    text-align: right;
}

.cardNoteContent {
    grid-column: 1/7;
    grid-row: 2/6;
    overflow: scroll;
    margin: 3% 0;
    padding: 2%;

}

.cardNoteContent>p {
    margin: auto;
}

.cardNoteButtons {
    grid-column: 1/7;
    grid-row: 6/7;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
}

.cardNoteButtons>button {
    font-size: clamp(0.5em,1.5rem,1.2em);
    border-radius: 0.8rem;
    width: 45%;
    height: 70%;
}

/*specific card buttons styling*/

#removal {
    background-color: #443742;
    color: red;
}

#complete {
    background-color: #CEA07E;
    color: #443742;
}

/*end of cards styling*/
/*end of workspace styling*/

/*external plugins holders styling*/
#calendar,#news {
    margin: 0.5rem;
    border-radius: 1rem;
    box-shadow: 6px 7px 41px -3px rgba(0,0,0,0.1),3px 3px 17px -12px rgba(0,0,0,0.1),inset 6px 6px 22px -9px rgba(0,0,0,0.1);
    background-color: #F0F0F0;
    border: #443742 solid 1px;
    border-right: #443742 0.5rem solid;
}

#calendar {
    grid-column: 11/13;
    grid-row: 2/7;
}

#news {
    grid-column: 11/13;
    grid-row: 7/13;
}

/*styling for dialogs in general -- this is shared!*/

.dialogAppearance {
    border: #443742 1px solid;
    border-top: #443742 0.5rem solid;
    border-radius: 2rem;
}

.dialogAppearance::backdrop {
    backdrop-filter: blur(8px);
}

/*styling for specific dialogs*/

#newNote {
    width: 30dvh;
    height: 40dvh;
}/*this dialog appears when you try to create a new note trought the button 'new note' inside the workspace*/

#newNote form {
    gap: 0.5rem;
} 

#newNote label{
    font-size: 0.8rem;
    font-style: italic; 
}

#newNote div:last-child {
    justify-content: space-around;
    align-items: center;
}

#newNote button {
    width: clamp(8dvh,10dvh,15dvh);
}